<h1>Targets</h1>
<p class="lead">
  <% if @numTargets < 1 %>
  You have no targets! Click the button below to create one.
  <% else %>
  Each of the following addresses will be visited repeatedly on the specified interval.
  <% end %>
</p>
<% counter = 0 %>
<% @targets.each do |target| %>
    <% counter += 1 %>
    <p>
      <%= "#{counter}. #{target.host}#{target.path} will be visited every #{target.interval} minutes." %>
      <a href="<%= edit_target_path(target) %>" class="btn btn-danger">
        <i class="icon-edit icon-white"></i>
      </a>
      <a href="<%= target_path(target) %>" data-confirm="Are you sure you want to delete this target?" data-method="delete" rel="nofollow" class="btn btn-danger">
        <i class="icon-trash icon-white"></i>
      </a>
    </p>

<% end %>


<br/>
<a href="<%= new_target_path %>" class="btn btn-large btn-danger">
  <i class="icon-plus icon-white"> </i>
  &nbsp;Add Another Target
</a>
