<h1>Zach Cotter</h1>
<p>
  You can email me at zach@zachcotter.com or open an issue on github at github.com/zcotter/Rooster. If you would like to contribute to Rooster yourself, you are more than welcome to fork my github repo and open a pull request.
  <br/>
  <br/>
  <strong>Website: </strong><a href="http://www.zachcotter.com">zachcotter.com</a>
  <br/>
  <br/>
  <strong>Email: </strong><a href="mailto:zach@zachcotter.com">zach@zachcotter.com</a>
  <br/>
  <br/>
  <strong>Github: </strong><a href="http://github.com/zcotter">github.com/zcotter</a>
</p>

